<section id="result" class="row">
	<div class="col-xs-12">
		<div class="row">
			<div id="total" class="" ng-controller="CalculatorCtrl">
				{{values}}
				<div class="row">
					<div class="col-xs-4">Total</div>
					<div class="col-xs-4"></div>
					<div class="col-xs-4">{{totalAmount || '$0.00'}}</div>
				</div>
				<div class="row">
					<div class="col-xs-4">Normal Hours</div>
					<div class="col-xs-4">{{values.hours.normal || 0}}</div>
					<div class="col-xs-4"></div>
				</div>
				<div class="row" ng-if="values.hours.ot > 0">
					<div class="col-xs-4">Time and a Half</div>
					<div class="col-xs-4">{{values.hours.ot || 0}}</div>
					<div class="col-xs-4"></div>
				</div>
				<div class="row" ng-if="values.hours.dt > 0">
					<div class="col-xs-4">Double Time</div>
					<div class="col-xs-4">{{values.hours.dt || 0}}</div>
					<div class="col-xs-4"></div>
				</div>
				<div class="row" ng-if="values.hours.gt > 0">
					<div class="col-xs-4">Golden Time</div>
					<div class="col-xs-4">{{values.hours.gt || 0}}</div>
					<div class="col-xs-4"></div>
				</div>

			</div>	
		</div>
	</div>	
</section>

<form name="mainForm" id="mainForm">

	<div ng-repeat="f in fieldsets">
		<fieldset class="row" id="{{f.name}}">
			<div ng-repeat="field in f.fields">
				<label class="{{field.class}}" ng-show="field.visible">
					<label for="{{field.name}}" ng-if="field.type != 'checkbox' && field.type != 'time'">{{field.label}}</label>
					<!-- Text || Number -->
					<input ng-model="field.value" name="{{field.name}}" type="{{field.type}}" required="{{field.required}}" class="form-control" ng-change="updateValues(field)" ng-if="field.type == 'text'" />
					<input ng-model="field.value" name="{{field.name}}" type="{{field.type}}" required="{{field.required}}" class="form-control" ng-change="updateValues(field)" min="0" ng-if="field.type == 'number'" />
					<!-- Checkbox -->
					<input type="{{field.type}}" ng-model="field.selected" name="{{field.name}}" required="{{field.required}}" ng-change="toggleHide(field.reveals); updateValues(field)" ng-if="field.type == 'checkbox'" /> <span ng-if="field.type == 'checkbox'">{{field.label}}</span>

					<!-- Radio / Button Group -->
					<div class="btn-group col-xs-12" ng-if="field.type == 'radio'">
						<label class="btn btn-primary col-xs-6" ng-repeat="o in field.options" ng-model="field.value" btn-radio="o" ng-change="updateValues(field)">{{o}}</label>
					</div>

					<!-- Dropdown -->
					<select ng-model="field.value" name="{{field.name}}" required="{{field.required}}" class="form-control" ng-if="field.type == 'select'" ng-change="updateValues(field)" ng-options="o for o in field.options">
						<option value="">{{field.label || "Select an option"}}</option>
					</select>

					<!-- Time -->
					<div ng-controller="TimeCtrl" ng-if="field.type == 'time'">
						<h3>{{field.label}}</h3>
						<input ng-model="field.value" name="{{field.name}}" type="{{field.type}}" step="360" required="{{field.required}}" ng-change="updateValues(field)" class="form-control visible-sm visible-xs" />
						<timepicker ng-model="field.value" name="{{field.name}}" ng-change="updateValues(field)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="hidden-sm hidden-xs"></timepicker>
					</div>

				</label>
			</div>
		</fieldset>
	</div>


</form>